# Chapter 5: Lists and Tuples

### 5.2 Lists

Lists typically store homogeneous data, but they may also store heterogenous data.

In [3]:
c = [-45, 6, 0, 72, 1543]
print(c)
print(type(c))

[-45, 6, 0, 72, 1543]
<class 'list'>

Accessing elements of a list

In [4]:
c[0]

-45

In [5]:
c[4]

1543

Length of a list

In [6]:
len(c)

5

Accessing elements of a list with negative indices

In [7]:
c[-1]

1543

In [8]:
c[-5]

-45

Lists are mutable

In [9]:
c[4] = 17
print(c)

[-45, 6, 0, 72, 17]

Python's string and tuple sequences are immutableâ€“they cannot be modified.

In [10]:
s = 'hello'
print(s[0])

h

In [11]:
s[0] = 'H'

TypeError: 'str' object does not support item assignment

Attempting to Access a nonexistent element

In [12]:
c[100]

IndexError: list index out of range

Using list elements in expressions

In [13]:
c[0] + c[1] + c[2]

-39

Appending to a list with +=

In [14]:
a_list = []

for number in range(1, 6):
    a_list += [number] #the square brackets around number creat a one-element list, which we append to a_list

a_list

[1, 2, 3, 4, 5]

In [15]:
letters = []

letters += 'Python'

letters

['P', 'y', 't', 'h', 'o', 'n']

Concatenating lists with +

In [16]:
list1 = [10, 20, 30]

list2 = [40, 50]

concatenated_list = list1 + list2

concatenated_list

[10, 20, 30, 40, 50]

Using for and range to accesss list indices and values

In [17]:
for i in range(len(concatenated_list)):
    print(f'{i}: {concatenated_list[i]}')

0: 10
1: 20
2: 30
3: 40
4: 50

In [18]:
a = [1, 2, 3]

b = [1, 2, 3]

c = [1, 2, 3, 4]

print(a == b)

print(a == c)

print(a < c) # fewer elements

print(c >= b)

True
False
True
True

### 5.2 Self Check

In [21]:
def cube_list(values):
    for i in range(len(values)):
        values[i] **= 3

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

cube_list(numbers)
print(numbers)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

### 5.3 Tuples

Tuples are immutable and typically store heterogeneous data, but the data can be homogeneous. A tuple's length cannot change during program execution. To create an empty tuple, use empty ().

In [1]:
student_tuple = ()

len(student_tuple)

0

Pack a tuple by separating its values with commas.

In [2]:
student_tuple = 'John', 'Green', 3.3

print(student_tuple)
print(len(student_tuple))

('John', 'Green', 3.3)
3

When you output a tuple, Python alwyas displays its contents in parantheses.

In [3]:
another_student_tuple = 'Mary', 'Red', 3.3
print(another_student_tuple)

('Mary', 'Red', 3.3)

To make a singelton tuple, you need to put a comma after the item. () are optional.

In [4]:
a_singleton_tuple = ('red',)
print(a_singleton_tuple)

('red',)

**Accessing tuple elements**: Usually, you do not iterate over tuples. Rather, you access each individually. Tuple indices start at 0, like lists.

In [5]:
time_tuple = (9, 16, 1)

time_tuple[0]

9

In [7]:
time_tuple[0] * 3600 + time_tuple[1] * 60 + time_tuple[2]

33361

**Adding items to a string or tuple**: the =+ statement can be used with strings and tuples, even though they're immutable.

In [8]:
tuple1 = (10, 20, 30)

tuple2 = tuple1

tuple2

(10, 20, 30)

In [9]:
tuple1 += (40, 50)

print(tuple1)

print(tuple2)

(10, 20, 30, 40, 50)
(10, 20, 30)

**Appending tuples to lists**: you can use += to append a tuple to a list.

In [10]:
numbers = [1, 2, 3, 4, 5]

numbers += (6, 7)

numbers

[1, 2, 3, 4, 5, 6, 7]

**Tuples may contain mutable objects**

In [11]:
student_tuple = ('Amanda', 'Blue', [98, 75, 87])

student_tuple[2][1] = 85

print(student_tuple)

('Amanda', 'Blue', [98, 85, 87])

### 5.3 Self Check

In [12]:
single_tuple = (123.45,)

print(single_tuple)

(123.45,)

In [14]:
list10 = [1, 2, 3]

tuple10 = (4, 5, 6)

list10 += tuple10

print(list10)

[1, 2, 3, 4, 5, 6]

In [15]:
[1, 2, 3] + (4, 5, 6)

TypeError: can only concatenate list (not "tuple") to list

### 5.4 Unpacking Sequences

You can unpack any sequence's elements by assigning the sequence to a comma-separated list of variables. A ValueError occurs if the number of variables to the left of the assignment is not identical to the number of elements in the sequences on the right.

In [17]:
student_tuple = ('Amanda', [98, 85, 87])

first_name, grades = student_tuple

print(first_name)
print(grades)

Amanda
[98, 85, 87]

Unpack a string, a list, and a sequence produced by range.

In [19]:
first, second = 'hi'
print(f'{first} {second}')

h i

In [20]:
number1, number2, number3 = [2, 3, 5]

print(f'{number1} {number2} {number3}')

2 3 5

In [21]:
number1, number2, number3 = range(10, 40, 10)
print(f'{number1} {number2} {number3}')

10 20 30

Swapping values via packing and unpacking

In [23]:
number1 = 99

number2 = 22

number1, number2 = (number2, number1)

print(f'number1 = {number1}; number2 = {number2}')

number1 = 22; number2 = 99

**Accessing indices and values safely with built-in function enumerate.**

The preferred mechanism for accessing an element's index and value is the built-in function **enumerate**. This function receives an iterable and creates an iterator that, for each element, returns a tuple containing the element's index and value.

In [26]:
colors = ['red', 'orange', 'yellow']

list((enumerate(colors)))

[(0, 'red'), (1, 'orange'), (2, 'yellow')]