# Chapter 5: Lists and Tuples

### 5.2 Lists

Lists typically store homogeneous data, but they may also store heterogenous data.

In [1]:
c = [-45, 6, 0, 72, 1543]
print(c)
print(type(c))

[-45, 6, 0, 72, 1543]
<class 'list'>

Accessing elements of a list

In [2]:
c[0]

-45

In [3]:
c[4]

1543

Length of a list

In [4]:
len(c)

5

Accessing elements of a list with negative indices

In [5]:
c[-1]

1543

In [6]:
c[-5]

-45

Lists are mutable

In [7]:
c[4] = 17
print(c)

[-45, 6, 0, 72, 17]

Python's string and tuple sequences are immutableâ€“they cannot be modified.

In [8]:
s = 'hello'
print(s[0])

h

In [9]:
s[0] = 'H'

TypeError: 'str' object does not support item assignment

Attempting to Access a nonexistent element

In [ ]:
c[100]

Using list elements in expressions

In [ ]:
c[0] + c[1] + c[2]

Appending to a list with +=

In [ ]:
a_list = []

for number in range(1, 6):
    a_list += [number] #the square brackets around number creat a one-element list, which we append to a_list

a_list

In [ ]:
letters = []

letters += 'Python'

letters

Concatenating lists with +

In [ ]:
list1 = [10, 20, 30]

list2 = [40, 50]

concatenated_list = list1 + list2

concatenated_list

Using for and range to accesss list indices and values

In [ ]:
for i in range(len(concatenated_list)):
    print(f'{i}: {concatenated_list[i]}')

In [ ]:
a = [1, 2, 3]

b = [1, 2, 3]

c = [1, 2, 3, 4]

print(a == b)

print(a == c)

print(a < c) # fewer elements

print(c >= b)

### 5.2 Self Check

In [ ]:
def cube_list(values):
    for i in range(len(values)):
        values[i] **= 3

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

cube_list(numbers)
print(numbers)

### 5.3 Tuples

Tuples are immutable and typically store heterogeneous data, but the data can be homogeneous. A tuple's length cannot change during program execution. To create an empty tuple, use empty ().

In [ ]:
student_tuple = ()

len(student_tuple)

Pack a tuple by separating its values with commas.

In [ ]:
student_tuple = 'John', 'Green', 3.3

print(student_tuple)
print(len(student_tuple))

When you output a tuple, Python alwyas displays its contents in parantheses.

In [ ]:
another_student_tuple = 'Mary', 'Red', 3.3
print(another_student_tuple)

To make a singelton tuple, you need to put a comma after the item. () are optional.

In [ ]:
a_singleton_tuple = ('red',)
print(a_singleton_tuple)

**Accessing tuple elements**: Usually, you do not iterate over tuples. Rather, you access each individually. Tuple indices start at 0, like lists.

In [ ]:
time_tuple = (9, 16, 1)

time_tuple[0]

In [ ]:
time_tuple[0] * 3600 + time_tuple[1] * 60 + time_tuple[2]

**Adding items to a string or tuple**: the =+ statement can be used with strings and tuples, even though they're immutable.

In [ ]:
tuple1 = (10, 20, 30)

tuple2 = tuple1

tuple2

In [ ]:
tuple1 += (40, 50)

print(tuple1)

print(tuple2)

**Appending tuples to lists**: you can use += to append a tuple to a list.

In [ ]:
numbers = [1, 2, 3, 4, 5]

numbers += (6, 7)

numbers

**Tuples may contain mutable objects**

In [ ]:
student_tuple = ('Amanda', 'Blue', [98, 75, 87])

student_tuple[2][1] = 85

print(student_tuple)

### 5.3 Self Check

In [ ]:
single_tuple = (123.45,)

print(single_tuple)

In [ ]:
list10 = [1, 2, 3]

tuple10 = (4, 5, 6)

list10 += tuple10

print(list10)

In [ ]:
[1, 2, 3] + (4, 5, 6)

### 5.4 Unpacking Sequences

You can unpack any sequence's elements by assigning the sequence to a comma-separated list of variables. A ValueError occurs if the number of variables to the left of the assignment is not identical to the number of elements in the sequences on the right.

In [ ]:
student_tuple = ('Amanda', [98, 85, 87])

first_name, grades = student_tuple

print(first_name)
print(grades)

Unpack a string, a list, and a sequence produced by range.

In [ ]:
first, second = 'hi'
print(f'{first} {second}')

In [ ]:
number1, number2, number3 = [2, 3, 5]

print(f'{number1} {number2} {number3}')

In [ ]:
number1, number2, number3 = range(10, 40, 10)
print(f'{number1} {number2} {number3}')

Swapping values via packing and unpacking

In [ ]:
number1 = 99

number2 = 22

number1, number2 = (number2, number1)

print(f'number1 = {number1}; number2 = {number2}')

**Accessing indices and values safely with built-in function enumerate.**

The preferred mechanism for accessing an element's index and value is the built-in function **enumerate**. This function receives an iterable and creates an iterator that, for each element, returns a tuple containing the element's index and value.

In [ ]:
colors = ['red', 'orange', 'yellow']

list((enumerate(colors)))

In [ ]:
tuple(enumerate(colors))

Unpack each tuple returned be enumerate into the variables index and value.

In [ ]:
for index, value in enumerate(colors):
    print(f'{index}:{value}')

Creating a primitive bar chart.

In [ ]:
"""Displaying a bar chart"""

numbers = [19, 3, 15, 7, 11]

print('\nCreating a bar chart from numbers:')
print(f'Index{"Value":>8}   Bar')

for index, value in enumerate(numbers):
    print(f'{index:>5}{value:>8}   {"*" * value}')

### 5.4 Self Check

In [ ]:
high_low = ('Tuesday', 56, 19)
print(high_low)

print(high_low[0])
print(high_low[1])
print(high_low[2])

day, high, low = high_low

print(f'day: {day}')
print(f'high: {high}')
print(f'low: {low}')

In [ ]:
names = ['Abby', 'Kalie', 'Riley']

for index, value in enumerate(names):
    print(index, value)

### 5.5 Sequence Slicing

Slice operations can modify mutable sequences. The slice copies elements from the starting index up to (but not including) the ending index. **The original list is not modified.** Though slices create new objects, **slices make shallow copies of the elements.** They copy the elements' references but not the objects they point to.

In [ ]:
numbers = [2, 3, 5, 7, 11, 13, 17, 19]

print(numbers[2:6])

Specifying a slice with only an ending index.

In [ ]:
print(numbers[:6])

print(numbers[0:6])

Specifying a slice with only a startind index.

In [ ]:
print(numbers[6:])

print(numbers[6:len(numbers)])

Specifying a slice with no indices. (Copies the entire sequence.)

In [ ]:
numbers[:]

Slicing with steps.

In [ ]:
numbers[::2]

In [ ]:
numbers[1:7:2]

Slicing with negative indices and steps.

In [ ]:
numbers[::-1]

In [ ]:
numbers[-1:-9:-1]

Modifying lists via slices. You can modify a list by assigning a slice of it to new values.

In [ ]:
numbers[0:3] = ['two', 'three', 'five']

print(numbers)

Delete part of a list using a slice.

In [ ]:
numbers[0:3] = []
print(numbers)

Assign a list's elements to a slice of every other element.

In [ ]:
numbers = [2, 3, 5, 7, 11, 13, 17, 19]

numbers[::2] = [100, 100, 100, 100]

print(numbers)

Delete all elements in a string, using a slice.

In [ ]:
print(id(numbers))

numbers[:] = []

print(numbers)
print(id(numbers))

In [ ]:
print(id(numbers))
print(numbers)

numbers = []
print(numbers)
print(id(numbers))

### 5.6 Self Check

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

print(f'Even numbers: {numbers[1::2]}')

numbers[4:10] = [0, 0, 0, 0, 0]
print(f'Replace indices 5 through 9: {numbers}')

numbers[5:] = []
print(f'Keep only the first five elements: {numbers}')

numbers[:] = []
print(f'Delete all remaining elements: {numbers}')

### 5.6 del Statement

The del statement can be used to remove elements from a list and to delete variables from the interactive session.

Deleting the element at a specific list index.

In [ ]:
numbers = list(range(0, 10))

print(numbers)

del numbers[-1]

print(numbers)

Deleting a slice from a list.

In [ ]:
del numbers[0:2]
print(numbers)

In [ ]:
del numbers[::2]
print(numbers)

Deleting a slice representing the entire list.

In [ ]:
del numbers[:]
print(numbers)

Delete a variable from the current session.

In [ ]:
del numbers
print(numbers)

### 5.6 Self Check

In [ ]:
numbers = list(range(1, 16))

del numbers[0:4]
print(numbers)

del numbers[::2]
print(numbers)

### 5.7 Passing Lists to Functions

Passing an entire list to a function. The function receives a reference to the original list, so the statement in the loop's suite modifies each element in the original list object.

In [ ]:
def modify_elements(items):
    """Multiplies all eleent values in items by 2."""
    for i in range(len(items)):
        items[i] *= 2
      
numbers = [10, 3, 7, 1, 9]

modify_elements(numbers)

print(numbers)

When you pass a tuple to a function, attempting to modify the tuple's immutable elements results in a TypeError. (Tuples may contain mutable objects, such as list. Those objects still can be modified when a tuple is passed to a function.)

In [ ]:
numbers_tuple = (10, 20, 30)

print(numbers_tuple)

modify_elements(numbers_tuple)

### 5.8 Sorting Lists

Sorting a list in ascending order.

In [ ]:
numbers = [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

numbers.sort()

print(numbers)

Sorting a list in descending order.

In [ ]:
numbers.sort(reverse=True)

print(numbers)

The built-in function **sorted** returns a new list containing the sorted elements of its argument sequence. The original sequence is unmodified.

In [ ]:
numbers = [10, 3, 7, 6, 5, 9, 8, 3, 4]

ascending_numbers = sorted(numbers)

print(ascending_numbers)
print(numbers)

letters = 'owiejfnalasdkfjo'

ascending_letters = sorted(letters)
print(ascending_letters)

colors = ('red', 'orange', 'yellow', 'green', 'blue')

ascending_colors = sorted(colors)
print(ascending_colors)

Use the optional keyword argument **reverse** with the value **True** to sort the elements in descending order.

In [ ]:
descending_numbers = sorted(numbers, reverse = True)
print(descending_numbers)

descending_letters = sorted(letters, reverse = True)
print(descending_letters)

Immutable sequences like tuples and strings do not provide a sort method. Instead use the built-in sort function.

### 5.8 Self Check

In [ ]:
foods = ['Cookies', 'pizza', 'Grapes', 'apples', 'steak', 'Bacon']

foods.sort()

print(foods)

### 5.9 Searching Sequences

Searching is the process of locating a key.

List method index takes as an argument a search key -- the value to locate in the list -- then searches through the list from index 0 and returns the **first** element that matches the search key. A ValueError occurs if it is not in the list.

In [ ]:
numbers = [3, 7, 1, 4, 2, 8, 5, 6]
numbers.index(5)

Specifying the starting index of a search: Using method index's optional arguments, you can search a subset of a list's elements.

In [ ]:
numbers *= 2
print(numbers)

In [ ]:
numbers.index(5, 7)

Specifying the starting and ending indices of a search.

In [ ]:
numbers.index(7, 0, 4)

Operators **in** and **not in**

In [ ]:
print(1000 in numbers)

print(5 in numbers)

In [ ]:
print(1000 not in numbers)
print(5 not in numbers)

Using operator **in** to prevent a ValueError

In [ ]:
key = 1000

if key in numbers:
    print(f'found {key} at index {numbers.index(key)}')
else:
    print (f'{key} not found')

Built-in functions **any** and **all**
- **Any**: Returns True if any item in its iterable argument is True
- **All**: Returns True if all items in its iterable argument are True. 
- Non-empty iterable objects also evaluate to True
- Empty iterable objects evalutes to False

### 5.9 Self Check

In [ ]:
list5 = [67, 12, 46, 43, 13]

list5.index(43)

In [ ]:
value = 44

if value in list5:
    print(f'found {value} at index {list5.index(value)}')
else:
    print(f'{value} not found')

### 5.10 Other List Methods

Inserting an element at a specific list index.

In [ ]:
color_names = ['orange', 'yellow', 'green']
color_names.insert(0, 'red')
print(color_names)

Adding an element to the end of a list.

In [ ]:
color_names.append('blue')

print(color_names)

Adding all the elements of a sequence to the end of a list. This is the equivalent of using +=.

In [ ]:
color_names.extend(('indigo', 'violet'))
print(color_names)

In [ ]:
sample_list = []

s = 'abc'

sample_list.extend(s)

print(sample_list)

t = (1, 2, 3)

sample_list.extend(t)

print(sample_list)

In [ ]:
sample_list.extend((4, 5, 6)) #An extra set of parentheses is required because extend expects one iterable argument

print(sample_list)

Removing the first occurence of an element in a list.

In [ ]:
color_names.remove('green')
print(color_names)

Empyting a list.

In [ ]:
color_names.clear()
print(color_names)

Counting the number of occurrence of an item.

In [ ]:
responses = [1, 2, 5, 4, 3, 7, 5, 4, 3, 2, 1, 8 ,9, 0, 7, 6, 5, 4, 3, 2, 1, 2, 3, 4, 5, 6, 7, 9]

for i in range(1, 6):
    print(f'{i} appears {responses.count(i)} times in responses')

Reversing a list's elements.

In [ ]:
color_names = ['red', 'orange', 'yellow', 'green', 'blue']

color_names.reverse()

print(color_names)

Reversing a list's elements. List method **copy** returns a new list containing a shallow copy of the original list.

In [ ]:
copied_list = color_names.copy()

print(copied_list)

### 5.10 Self Check

In [ ]:
rainbow = ['green', 'orange', 'violet']

print(rainbow.index('violet'))

In [ ]:
rainbow.insert(2, 'red')
print(rainbow)

In [ ]:
rainbow.append('yellow')
print(rainbow)

In [ ]:
rainbow.reverse()
print(rainbow)

In [ ]:
rainbow.remove('orange')
print(rainbow)

### 5.11 Simulating Stacks with Lists

In [ ]:
stack = [] # Create a stack

stack.append('red') # Push

print(stack)

stack.append('green') # Push

print(stack)

In [ ]:
stack.pop() # Pop: removes and returns the item at the end of the list
print(stack)

In [ ]:
stack.pop()

In [ ]:
print(stack)

Popping from an empty stack causes an IndexError. To prevent an IndexError, ensure that len(stack) > 0 before calling pop.

### 5.12 List Comprehensions

List comprehension: a convenient notation for creating new lists. List comprehension can replace for statements that iterate over existing sequences and creat new lists.

Using a list comprehension to create a list of integers.

In [ ]:
list2 = [item for item in range(1, 6)]

# This is the same as using list2 = list(range(1, 6))

print(list2)

Mapping: Performing operations in a list comprehension's expression.

In [ ]:
list3 = [item ** 3 for item in range(1, 6)]

print(list3)

Filtering: List comprehensions with if clauses.

In [ ]:
list4 = [item for item in range(1, 11) if item % 2 == 0]
print(list4)

List comprehension that processes another list's elements.

In [ ]:
colors = ['red', 'orange', 'yellow', 'green', 'blue']

colors2 = [item.upper() for item in colors]

print(colors2)
print(colors)

### 5.12 Self Check

In [ ]:
list5 = [(item, item ** 3) for item in range (1, 6)]
print(list5)

In [ ]:
list6 = [item for item in range(3, 30, 3)]
print(list6)

### 5.13 Generator Expressions

A generator expression is similar to a list comprehension, but creates an iterable generator object that produces values on demand. (Lazy evaluation) You define them in parantheses instead of square brackets. A generator expression does not create a list.

In [ ]:
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

for value in (x ** 2 for x in numbers if x % 2 !=0):
    print(value, end=' ')

square_of_odds = (x ** 2 for x in numbers if x % 2 !=0)

print(square_of_odds)

### 5.13 Self Check

In [10]:
list7 = list(x ** 3 for x in [10, 3, 7, 1, 9, 4, 2] if x % 2 == 0)
print(list7)
# This works in the console.

[1000, 64, 8]

### 5.14 Filter, Map and Reduce

In [11]:
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

def is_odd(x):
    """Returns True only if x is odd."""
    return x % 2 != 0 

list(filter(is_odd, numbers))
# This works in the console.

[3, 7, 1, 9, 5]

Using a lambda rather than a function. A lambda function is an anonymous function. A lambda begins with the lambda keyword followed by a comma-separated parameter list, a colon, and an expression.
- lambda parameter_list: expression

In [14]:
variable = list(filter(lambda x: x % 2 != 0, numbers))
print(variable)

[3, 7, 1, 9, 5]

Mapping a sequence's values to new values. Map's first argument is a function that receives one value and returns a new value. The second argument is an iterable of values to map.

In [13]:
print(numbers)

squared_list = list(map(lambda x: x **2, numbers))
print(squared_list)

[10, 3, 7, 1, 9, 4, 2, 8, 5, 6]
[100, 9, 49, 1, 81, 16, 4, 64, 25, 36]

Combining filter and map.

In [15]:
squared_fil_list = list(map(lambda x: x ** 2, 
         filter(lambda x: x % 2 != 0, numbers)))

print(squared_fil_list)

[9, 49, 1, 81, 25]

### 5.14 Self Check

In [16]:
list_numbers = list(range(1, 16))
print(list_numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [19]:
list_even = list(filter(lambda x: x % 2 == 0, list_numbers))
print(list_even)

[2, 4, 6, 8, 10, 12, 14]

In [20]:
list_squared = list(map(lambda x: x ** 2, list_numbers))
print(list_squared)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225]

In [23]:
list_even_squared = list(map(lambda x: x ** 2,
                             filter(lambda x: x % 2 == 0, list_numbers)))
print(list_even_squared)

[4, 16, 36, 64, 100, 144, 196]

In [28]:
fdegrees = [41, 32, 212]

cdegrees = list(map(lambda x: (x, (x - 32) * (5/9)), fdegrees))

print(cdegrees)

[(41, 5.0), (32, 0.0), (212, 100.0)]

### 5.15 Other Sequence Processing Functions

Finding the min and max values using a key function. The key keyword argument must be a one-parameter function that returns a value.

In [34]:
colors = ['Red', 'orange', 'Yellow', 'green', 'Blue']

print(min(colors, key=lambda s: s.lower()))

print(max(colors, key=lambda s: s.lower()))

Blue
Yellow

Iterating backword through a sequence. Reverse returns an iterator that enables you to iterate over a sequence's values backwords.

In [35]:
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

reversed_numbers = [item ** 2 for item in reversed(numbers)]

print(reversed_numbers)

[36, 25, 64, 4, 16, 81, 1, 49, 9, 100]

Combining iterables into tuples of corresponding elements. Zip enables you to iterate over multiple iterables of data at the same time. Zip receives as arguments any number of iterables and returns an iterator that produces tuples.

In [40]:
names = ['Bob', 'Sue', 'Amanda']

grade_point_averages = [3.5, 4.0, 3.75]

tuple = list(zip(names, grade_point_averages))
print(tuple)

for name, gpa in zip(names, grade_point_averages):
    print (f'Name={name}; GPA={gpa}')

[('Bob', 3.5), ('Sue', 4.0), ('Amanda', 3.75)]
Name=Bob; GPA=3.5
Name=Sue; GPA=4.0
Name=Amanda; GPA=3.75

### 5.15 Self Check

In [41]:
foods = ['Cookies', 'pizza', 'Grapes', 'apples', 'steak', 'Bacon']
print(min(foods))

Bacon

In [43]:
print(min(foods, key=lambda s: s.lower()))

apples

In [46]:
integer1 = [1, 2, 3, 4, 5]
integer2 = [1, 2, 3, 4, 5]

sum = list((a + b) for a, b in zip(integer1, integer2))
print(sum)

[2, 4, 6, 8, 10]

### Two-Dimensional Lists

Lists can contain other lists as elements.

In [49]:
a = [[77, 68, 86, 73], 
     [96, 87, 89, 81],
     [70, 90, 86, 81]]

# location = a[row][column]


print(a[0][0])
print(a[0][1])
print(a[1][0])

77
68
96

In [50]:
for row in a:
    for item in row:
        print( item, end=' ')
    print()

77 68 86 73
96 87 89 81
70 90 86 81