# Chapter 5: Lists and Tuples

### 5.2 Lists

Lists typically store homogeneous data, but they may also store heterogenous data.

In [5]:
c = [-45, 6, 0, 72, 1543]
print(c)
print(type(c))

[-45, 6, 0, 72, 1543]
<class 'list'>

Accessing elements of a list

In [6]:
c[0]

-45

In [7]:
c[4]

1543

Length of a list

In [8]:
len(c)

5

Accessing elements of a list with negative indices

In [9]:
c[-1]

1543

In [10]:
c[-5]

-45

Lists are mutable

In [11]:
c[4] = 17
print(c)

[-45, 6, 0, 72, 17]

Python's string and tuple sequences are immutableâ€“they cannot be modified.

In [12]:
s = 'hello'
print(s[0])

h

In [13]:
s[0] = 'H'

TypeError: 'str' object does not support item assignment

Attempting to Access a nonexistent element

In [ ]:
c[100]

Using list elements in expressions

In [ ]:
c[0] + c[1] + c[2]

Appending to a list with +=

In [ ]:
a_list = []

for number in range(1, 6):
    a_list += [number] #the square brackets around number creat a one-element list, which we append to a_list

a_list

In [ ]:
letters = []

letters += 'Python'

letters

Concatenating lists with +

In [ ]:
list1 = [10, 20, 30]

list2 = [40, 50]

concatenated_list = list1 + list2

concatenated_list

Using for and range to accesss list indices and values

In [ ]:
for i in range(len(concatenated_list)):
    print(f'{i}: {concatenated_list[i]}')

In [ ]:
a = [1, 2, 3]

b = [1, 2, 3]

c = [1, 2, 3, 4]

print(a == b)

print(a == c)

print(a < c) # fewer elements

print(c >= b)

### 5.2 Self Check

In [ ]:
def cube_list(values):
    for i in range(len(values)):
        values[i] **= 3

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

cube_list(numbers)
print(numbers)

### 5.3 Tuples

Tuples are immutable and typically store heterogeneous data, but the data can be homogeneous. A tuple's length cannot change during program execution. To create an empty tuple, use empty ().

In [ ]:
student_tuple = ()

len(student_tuple)

Pack a tuple by separating its values with commas.

In [ ]:
student_tuple = 'John', 'Green', 3.3

print(student_tuple)
print(len(student_tuple))

When you output a tuple, Python alwyas displays its contents in parantheses.

In [ ]:
another_student_tuple = 'Mary', 'Red', 3.3
print(another_student_tuple)

To make a singelton tuple, you need to put a comma after the item. () are optional.

In [ ]:
a_singleton_tuple = ('red',)
print(a_singleton_tuple)

**Accessing tuple elements**: Usually, you do not iterate over tuples. Rather, you access each individually. Tuple indices start at 0, like lists.

In [ ]:
time_tuple = (9, 16, 1)

time_tuple[0]

In [ ]:
time_tuple[0] * 3600 + time_tuple[1] * 60 + time_tuple[2]

**Adding items to a string or tuple**: the =+ statement can be used with strings and tuples, even though they're immutable.

In [ ]:
tuple1 = (10, 20, 30)

tuple2 = tuple1

tuple2

In [14]:
tuple1 += (40, 50)

print(tuple1)

print(tuple2)

NameError: name 'tuple1' is not defined

**Appending tuples to lists**: you can use += to append a tuple to a list.

In [ ]:
numbers = [1, 2, 3, 4, 5]

numbers += (6, 7)

numbers

**Tuples may contain mutable objects**

In [ ]:
student_tuple = ('Amanda', 'Blue', [98, 75, 87])

student_tuple[2][1] = 85

print(student_tuple)

### 5.3 Self Check

In [ ]:
single_tuple = (123.45,)

print(single_tuple)

In [ ]:
list10 = [1, 2, 3]

tuple10 = (4, 5, 6)

list10 += tuple10

print(list10)

In [ ]:
[1, 2, 3] + (4, 5, 6)

### 5.4 Unpacking Sequences

You can unpack any sequence's elements by assigning the sequence to a comma-separated list of variables. A ValueError occurs if the number of variables to the left of the assignment is not identical to the number of elements in the sequences on the right.

In [ ]:
student_tuple = ('Amanda', [98, 85, 87])

first_name, grades = student_tuple

print(first_name)
print(grades)

Unpack a string, a list, and a sequence produced by range.

In [ ]:
first, second = 'hi'
print(f'{first} {second}')

In [ ]:
number1, number2, number3 = [2, 3, 5]

print(f'{number1} {number2} {number3}')

In [ ]:
number1, number2, number3 = range(10, 40, 10)
print(f'{number1} {number2} {number3}')

Swapping values via packing and unpacking

In [ ]:
number1 = 99

number2 = 22

number1, number2 = (number2, number1)

print(f'number1 = {number1}; number2 = {number2}')

**Accessing indices and values safely with built-in function enumerate.**

The preferred mechanism for accessing an element's index and value is the built-in function **enumerate**. This function receives an iterable and creates an iterator that, for each element, returns a tuple containing the element's index and value.

In [16]:
colors = ['red', 'orange', 'yellow']

list((enumerate(colors)))

[(0, 'red'), (1, 'orange'), (2, 'yellow')]

In [17]:
tuple(enumerate(colors))

((0, 'red'), (1, 'orange'), (2, 'yellow'))

Unpack each tuple returned be enumerate into the variables index and value.

In [18]:
for index, value in enumerate(colors):
    print(f'{index}:{value}')

0:red
1:orange
2:yellow

Creating a primitive bar chart.

In [20]:
"""Displaying a bar chart"""

numbers = [19, 3, 15, 7, 11]

print('\nCreating a bar chart from numbers:')
print(f'Index{"Value":>8}   Bar')

for index, value in enumerate(numbers):
    print(f'{index:>5}{value:>8}   {"*" * value}')

Creating a bar chart from numbers:
Index   Value   Bar
    0      19   *******************
    1       3   ***
    2      15   ***************
    3       7   *******
    4      11   ***********

### 5.4 Self Check

In [25]:
high_low = ('Tuesday', 56, 19)
print(high_low)

print(high_low[0])
print(high_low[1])
print(high_low[2])

day, high, low = high_low

print(f'day: {day}')
print(f'high: {high}')
print(f'low: {low}')

('Tuesday', 56, 19)
Tuesday
56
19
day: Tuesday
high: 56
low: 19

In [26]:
names = ['Abby', 'Kalie', 'Riley']

for index, value in enumerate(names):
    print(index, value)

0 Abby
1 Kalie
2 Riley

### 5.5 Sequence Slicing

Slice operations can modify mutable sequences. The slice copies elements from the starting index up to (but not including) the ending index. **The original list is not modified.** Though slices create new objects, **slices make shallow copies of the elements.** They copy the elements' references but not the objects they point to.

In [28]:
numbers = [2, 3, 5, 7, 11, 13, 17, 19]

print(numbers[2:6])

[5, 7, 11, 13]

Specifying a slice with only an ending index.

In [31]:
print(numbers[:6])

print(numbers[0:6])

[2, 3, 5, 7, 11, 13]
[2, 3, 5, 7, 11, 13]

Specifying a slice with only a startind index.

In [33]:
print(numbers[6:])

print(numbers[6:len(numbers)])

[17, 19]
[17, 19]

Specifying a slice with no indices. (Copies the entire sequence.)

In [34]:
numbers[:]

[2, 3, 5, 7, 11, 13, 17, 19]

Slicing with steps.

In [36]:
numbers[::2]

[2, 5, 11, 17]

In [37]:
numbers[1:7:2]

[3, 7, 13]

Slicing with negative indices and steps.

In [38]:
numbers[::-1]

[19, 17, 13, 11, 7, 5, 3, 2]

In [40]:
numbers[-1:-9:-1]

[19, 17, 13, 11, 7, 5, 3, 2]

Modifying lists via slices. You can modify a list by assigning a slice of it to new values.

In [41]:
numbers[0:3] = ['two', 'three', 'five']

print(numbers)

['two', 'three', 'five', 7, 11, 13, 17, 19]

Delete part of a list using a slice.

In [42]:
numbers[0:3] = []
print(numbers)

[7, 11, 13, 17, 19]

Assign a list's elements to a slice of every other element.

In [43]:
numbers = [2, 3, 5, 7, 11, 13, 17, 19]

numbers[::2] = [100, 100, 100, 100]

print(numbers)

[100, 3, 100, 7, 100, 13, 100, 19]

Delete all elements in a string, using a slice.

In [44]:
print(id(numbers))

numbers[:] = []

print(numbers)
print(id(numbers))

4609585984
[]
4609585984

In [46]:
print(id(numbers))
print(numbers)

numbers = []
print(numbers)
print(id(numbers))

4609585984
[]
[]
4609759872

### 5.6 Self Check

In [55]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

print(f'Even numbers: {numbers[1::2]}')

numbers[4:10] = [0, 0, 0, 0, 0]
print(f'Replace indices 5 through 9: {numbers}')

numbers[5:] = []
print(f'Keep only the first five elements: {numbers}')

numbers[:] = []
print(f'Delete all remaining elements: {numbers}')

Even numbers: [2, 4, 6, 8, 10, 12, 14]
Replace indices 5 through 9: [1, 2, 3, 4, 0, 0, 0, 0, 0, 11, 12, 13, 14, 15]
Keep only the first five elements: [1, 2, 3, 4, 0]
Delete all remaining elements: []

### 5.6 del Statement

The del statement can be used to remove elements from a list and to delete variables from the interactive session.

Deleting the element at a specific list index.

In [57]:
numbers = list(range(0, 10))

print(numbers)

del numbers[-1]

print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8]

Deleting a slice from a list.

In [58]:
del numbers[0:2]
print(numbers)

[2, 3, 4, 5, 6, 7, 8]

In [59]:
del numbers[::2]
print(numbers)

[3, 5, 7]

Deleting a slice representing the entire list.

In [60]:
del numbers[:]
print(numbers)

[]

Delete a variable from the current session.

In [61]:
del numbers
print(numbers)

NameError: name 'numbers' is not defined

### 5.6 Self Check

In [63]:
numbers = list(range(1, 16))

del numbers[0:4]
print(numbers)

del numbers[::2]
print(numbers)

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
[6, 8, 10, 12, 14]

### 5.7 Passing Lists to Functions

Passing an entire list to a function. The function receives a reference to the original list, so the statement in the loop's suite modifies each element in the original list object.

In [2]:
def modify_elements(items):
    """Multiplies all eleent values in items by 2."""
    for i in range(len(items)):
        items[i] *= 2
      
numbers = [10, 3, 7, 1, 9]

modify_elements(numbers)

print(numbers)

[20, 6, 14, 2, 18]

When you pass a tuple to a function, attempting to modify the tuple's immutable elements results in a TypeError. (Tuples may contain mutable objects, such as list. Those objects still can be modified when a tuple is passed to a function.)

In [4]:
numbers_tuple = (10, 20, 30)

print(numbers_tuple)

modify_elements(numbers_tuple)

(10, 20, 30)

TypeError: 'tuple' object does not support item assignment

### 5.8 Sorting Lists

Sorting a list in ascending order.

In [5]:
numbers = [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

numbers.sort()

print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Sorting a list in descending order.

In [8]:
numbers.sort(reverse=True)

print(numbers)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

The built-in function **sorted** returns a new list containing the sorted elements of its argument sequence. The original sequence is unmodified.

In [14]:
numbers = [10, 3, 7, 6, 5, 9, 8, 3, 4]

ascending_numbers = sorted(numbers)

print(ascending_numbers)
print(numbers)

letters = 'owiejfnalasdkfjo'

ascending_letters = sorted(letters)
print(ascending_letters)

colors = ('red', 'orange', 'yellow', 'green', 'blue')

ascending_colors = sorted(colors)
print(ascending_colors)

[3, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 3, 7, 6, 5, 9, 8, 3, 4]
['a', 'a', 'd', 'e', 'f', 'f', 'i', 'j', 'j', 'k', 'l', 'n', 'o', 'o', 's', 'w']
['blue', 'green', 'orange', 'red', 'yellow']

Use the optional keyword argument **reverse** with the value **True** to sort the elements in descending order.

In [18]:
descending_numbers = sorted(numbers, reverse = True)
print(descending_numbers)

descending_letters = sorted(letters, reverse = True)
print(descending_letters)

[10, 9, 8, 7, 6, 5, 4, 3, 3]
['w', 's', 'o', 'o', 'n', 'l', 'k', 'j', 'j', 'i', 'f', 'f', 'e', 'd', 'a', 'a']

Immutable sequences like tuples and strings do not provide a sort method. Instead use the built-in sort function.

### 5.8 Self Check

In [21]:
foods = ['Cookies', 'pizza', 'Grapes', 'apples', 'steak', 'Bacon']

foods.sort()

print(foods)

['Bacon', 'Cookies', 'Grapes', 'apples', 'pizza', 'steak']

### 5.9 Searching Sequences

Searching is the process of locating a key.

List method index takes as an argument a search key -- the value to locate in the list -- then searches through the list from index 0 and returns the **first** element that matches the search key. A ValueError occurs if it is not in the list.

In [23]:
numbers = [3, 7, 1, 4, 2, 8, 5, 6]
numbers.index(5)

6

Specifying the starting index of a search: Using method index's optional arguments, you can search a subset of a list's elements.

In [24]:
numbers *= 2
print(numbers)

[3, 7, 1, 4, 2, 8, 5, 6, 3, 7, 1, 4, 2, 8, 5, 6]

In [25]:
numbers.index(5, 7)

14

Specifying the starting and ending indices of a search.

In [26]:
numbers.index(7, 0, 4)

1

Operators **in** and **not in**

In [27]:
print(1000 in numbers)

print(5 in numbers)

False
True

In [29]:
print(1000 not in numbers)
print(5 not in numbers)

True
False

Using operator **in** to prevent a ValueError

In [30]:
key = 1000

if key in numbers:
    print(f'found {key} at index {numbers.index(key)}')
else:
    print (f'{key} not found')

1000 not found

Built-in functions **any** and **all**
- **Any**: Returns True if any item in its iterable argument is True
- **All**: Returns True if all items in its iterable argument are True. 
- Non-empty iterable objects also evaluate to True
- Empty iterable objects evalutes to False

### 5.9 Self Check

In [31]:
list5 = [67, 12, 46, 43, 13]

list5.index(43)

3

In [32]:
value = 44

if value in list5:
    print(f'found {value} at index {list5.index(value)}')
else:
    print(f'{value} not found')

44 not found

### 5.10 Other List Methods

Inserting an element at a specific list index.

In [35]:
color_names = ['orange', 'yellow', 'green']
color_names.insert(0, 'red')
print(color_names)

['red', 'orange', 'yellow', 'green']

Adding an element to the end of a list.

In [36]:
color_names.append('blue')

print(color_names)

['red', 'orange', 'yellow', 'green', 'blue']

Adding all the elements of a sequence to the end of a list. This is the equivalent of using +=.

In [42]:
color_names.extend(('indigo', 'violet'))
print(color_names)

['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet', 'indigo', 'violet', 'indigo', 'violet']

In [43]:
sample_list = []

s = 'abc'

sample_list.extend(s)

print(sample_list)

t = (1, 2, 3)

sample_list.extend(t)

print(sample_list)

['a', 'b', 'c']
['a', 'b', 'c', 1, 2, 3]

In [44]:
sample_list.extend((4, 5, 6)) #An extra set of parentheses is required because extend expects one iterable argument

print(sample_list)

['a', 'b', 'c', 1, 2, 3, 4, 5, 6]

Removing the first occurence of an element in a list.

In [45]:
color_names.remove('green')
print(color_names)

['red', 'orange', 'yellow', 'blue', 'indigo', 'violet', 'indigo', 'violet', 'indigo', 'violet']

Empyting a list.

In [46]:
color_names.clear()
print(color_names)

[]

Counting the number of occurrence of an item.

In [49]:
responses = [1, 2, 5, 4, 3, 7, 5, 4, 3, 2, 1, 8 ,9, 0, 7, 6, 5, 4, 3, 2, 1, 2, 3, 4, 5, 6, 7, 9]

for i in range(1, 6):
    print(f'{i} appears {responses.count(i)} times in responses')

1 appears 3 times in responses
2 appears 4 times in responses
3 appears 4 times in responses
4 appears 4 times in responses
5 appears 4 times in responses

Reversing a list's elements.

In [50]:
color_names = ['red', 'orange', 'yellow', 'green', 'blue']

color_names.reverse()

print(color_names)

['blue', 'green', 'yellow', 'orange', 'red']

Reversing a list's elements. List method **copy** returns a new list containing a shallow copy of the original list.

In [51]:
copied_list = color_names.copy()

print(copied_list)

['blue', 'green', 'yellow', 'orange', 'red']

### 5.10 Self Check

In [52]:
rainbow = ['green', 'orange', 'violet']

print(rainbow.index('violet'))

2

In [53]:
rainbow.insert(2, 'red')
print(rainbow)

['green', 'orange', 'red', 'violet']

In [54]:
rainbow.append('yellow')
print(rainbow)

['green', 'orange', 'red', 'violet', 'yellow']

In [55]:
rainbow.reverse()
print(rainbow)

['yellow', 'violet', 'red', 'orange', 'green']

In [56]:
rainbow.remove('orange')
print(rainbow)

['yellow', 'violet', 'red', 'green']

### 5.11 Simulating Stacks with Lists

In [1]:
stack = [] # Create a stack

stack.append('red') # Push

print(stack)

stack.append('green') # Push

print(stack)

['red']
['red', 'green']

In [2]:
stack.pop() # Pop: removes and returns the item at the end of the list
print(stack)

['red']

In [3]:
stack.pop()

'red'

In [4]:
print(stack)

[]

Popping from an empty stack causes an IndexError. To prevent an IndexError, ensure that len(stack) > 0 before calling pop.

### 5.12 List Comprehensions